.my-3dbarchart-icon {
	background-image:url(16x16/3d bar chart.png) !important;
}
.my-abort-icon {
	background-image:url(16x16/Abort.png) !important;
}
.my-about-icon {
	background-image:url(16x16/About.png) !important;
}
.my-accounting-icon {
	background-image:url(16x16/Accounting.png) !important;
}
.my-addressbook-icon {
	background-image:url(16x16/Address book.png) !important;
}
.my-alarm-icon {
	background-image:url(16x16/Alarm.png) !important;
}
.my-alarmclock-icon {
	background-image:url(16x16/Alarm clock.png) !important;
}
.my-alert-icon {
	background-image:url(16x16/Alert.png) !important;
}
.my-alien-icon {
	background-image:url(16x16/Alien.png) !important;
}
.my-anchor-icon {
	background-image:url(16x16/Anchor.png) !important;
}
.my-application-icon {
	background-image:url(16x16/Application.png) !important;
}
.my-apply-icon {
	background-image:url(16x16/Apply.png) !important;
}
.my-back-icon {
	background-image:url(16x16/Back.png) !important;
}
.my-badmark-icon {
	background-image:url(16x16/Bad mark.png) !important;
}
.my-bee-icon {
	background-image:url(16x16/Bee.png) !important;
}
.my-blackbookmark-icon {
	background-image:url(16x16/Black bookmark.png) !important;
}
.my-blackpin-icon {
	background-image:url(16x16/Black pin.png) !important;
}
.my-blacktag-icon {
	background-image:url(16x16/Black tag.png) !important;
}
.my-blog-icon {
	background-image:url(16x16/Blog.png) !important;
}
.my-bluebookmark-icon {
	background-image:url(16x16/Blue bookmark.png) !important;
}
.my-bluekey-icon {
	background-image:url(16x16/Blue key.png) !important;
}
.my-bluepin-icon {
	background-image:url(16x16/Blue pin.png) !important;
}
.my-bluetag-icon {
	background-image:url(16x16/Blue tag.png) !important;
}
.my-bomb-icon {
	background-image:url(16x16/Bomb.png) !important;
}
.my-bookmark-icon {
	background-image:url(16x16/Bookmark.png) !important;
}
.my-boss-icon {
	background-image:url(16x16/Boss.png) !important;
}
.my-bottom-icon {
	background-image:url(16x16/Bottom.png) !important;
}
.my-briefcase-icon {
	background-image:url(16x16/Briefcase.png) !important;
}
.my-brush-icon {
	background-image:url(16x16/Brush.png) !important;
}
.my-bubble-icon {
	background-image:url(16x16/Bubble.png) !important;
}
.my-buy-icon {
	background-image:url(16x16/Buy.png) !important;
}
.my-calculator-icon {
	background-image:url(16x16/Calculator.png) !important;
}
.my-calendar-icon {
	background-image:url(16x16/Calendar.png) !important;
}
.my-cancel-icon {
	background-image:url(16x16/Cancel.png) !important;
}
.my-carkey-icon {
	background-image:url(16x16/Car key.png) !important;
}
.my-cd-icon {
	background-image:url(16x16/CD.png) !important;
}
.my-clipboard-icon {
	background-image:url(16x16/Clipboard.png) !important;
}
.my-clock-icon {
	background-image:url(16x16/Clock.png) !important;
}
.my-comment-icon {
	background-image:url(16x16/Comment.png) !important;
}
.my-company-icon {
	background-image:url(16x16/Company.png) !important;
}
.my-compass-icon {
	background-image:url(16x16/Compass.png) !important;
}
.my-component-icon {
	background-image:url(16x16/Component.png) !important;
}
.my-computer16x16-icon {
	background-image:url(16x16/Computer 16x16.png) !important;
}
.my-copy-icon {
	background-image:url(16x16/Copy.png) !important;
}
.my-create-icon {
	background-image:url(16x16/Create.png) !important;
}
.my-cut-icon {
	background-image:url(16x16/Cut.png) !important;
}
.my-danger-icon {
	background-image:url(16x16/Danger.png) !important;
}
.my-database-icon {
	background-image:url(16x16/Database.png) !important;
}
.my-delete-icon {
	background-image:url(16x16/Delete.png) !important;
}
.my-delivery-icon {
	background-image:url(16x16/Delivery.png) !important;
}
.my-diagram-icon {
	background-image:url(16x16/Diagram.png) !important;
}
.my-dial-icon {
	background-image:url(16x16/Dial.png) !important;
}
.my-disaster-icon {
	background-image:url(16x16/Disaster.png) !important;
}
.my-display16x16-icon {
	background-image:url(16x16/Display_16x16.png) !important;
}
.my-dollar-icon {
	background-image:url(16x16/Dollar.png) !important;
}
.my-down-icon {
	background-image:url(16x16/Down.png) !important;
}
.my-download-icon {
	background-image:url(16x16/Download.png) !important;
}
.my-downloadsfolder-icon {
	background-image:url(16x16/Downloads folder.png) !important;
}
.my-earth-icon {
	background-image:url(16x16/Earth.png) !important;
}
.my-eject-icon {
	background-image:url(16x16/Eject.png) !important;
}
.my-e-icon {
	background-image:url(16x16/E-mail.png) !important;
}
.my-equipment-icon {
	background-image:url(16x16/Equipment.png) !important;
}
.my-erase-icon {
	background-image:url(16x16/Erase.png) !important;
}
.my-error-icon {
	background-image:url(16x16/Error.png) !important;
}
.my-euro-icon {
	background-image:url(16x16/Euro.png) !important;
}
.my-exit-icon {
	background-image:url(16x16/Exit.png) !important;
}
.my-expand-icon {
	background-image:url(16x16/Expand.png) !important;
}
.my-eye-icon {
	background-image:url(16x16/Eye.png) !important;
}
.my-fall-icon {
	background-image:url(16x16/Fall.png) !important;
}
.my-fast-icon {
	background-image:url(16x16/Fast-forward.png) !important;
}
.my-favourites-icon {
	background-image:url(16x16/Favourites.png) !important;
}
.my-female-icon {
	background-image:url(16x16/Female.png) !important;
}
.my-femalesymbol-icon {
	background-image:url(16x16/Female symbol.png) !important;
}
.my-film-icon {
	background-image:url(16x16/Film.png) !important;
}
.my-filter-icon {
	background-image:url(16x16/Filter.png) !important;
}
.my-find-icon {
	background-image:url(16x16/Find.png) !important;
}
.my-first-icon {
	background-image:url(16x16/First.png) !important;
}
.my-firstrecord-icon {
	background-image:url(16x16/First record.png) !important;
}
.my-flag-icon {
	background-image:url(16x16/Flag.png) !important;
}
.my-flashdrive-icon {
	background-image:url(16x16/Flash drive.png) !important;
}
.my-folder-icon {
	background-image:url(16x16/Folder.png) !important;
}
.my-forbidden-icon {
	background-image:url(16x16/Forbidden.png) !important;
}
.my-forward-icon {
	background-image:url(16x16/Forward.png) !important;
}
.my-freebsd-icon {
	background-image:url(16x16/Free bsd.png) !important;
}
.my-gift-icon {
	background-image:url(16x16/Gift.png) !important;
}
.my-globe-icon {
	background-image:url(16x16/Globe.png) !important;
}
.my-go-icon {
	background-image:url(16x16/Go.png) !important;
}
.my-goback-icon {
	background-image:url(16x16/Go back.png) !important;
}
.my-goforward-icon {
	background-image:url(16x16/Go forward.png) !important;
}
.my-goodmark-icon {
	background-image:url(16x16/Good mark.png) !important;
}
.my-greenbookmark-icon {
	background-image:url(16x16/Green bookmark.png) !important;
}
.my-greenpin-icon {
	background-image:url(16x16/Green pin.png) !important;
}
.my-greentag-icon {
	background-image:url(16x16/Green tag.png) !important;
}
.my-harddisk-icon {
	background-image:url(16x16/Hard disk.png) !important;
}
.my-heart-icon {
	background-image:url(16x16/Heart.png) !important;
}
.my-help-icon {
	background-image:url(16x16/Help.png) !important;
}
.my-helpbook-icon {
	background-image:url(16x16/Help book.png) !important;
}
.my-helpbook3d-icon {
	background-image:url(16x16/Help book 3d.png) !important;
}
.my-helpsymbol-icon {
	background-image:url(16x16/Help symbol.png) !important;
}
.my-hint-icon {
	background-image:url(16x16/Hint.png) !important;
}
.my-history-icon {
	background-image:url(16x16/History.png) !important;
}
.my-home-icon {
	background-image:url(16x16/Home.png) !important;
}
.my-hourglass-icon {
	background-image:url(16x16/Hourglass.png) !important;
}
.my-how-icon {
	background-image:url(16x16/How-to.png) !important;
}
.my-hungup-icon {
	background-image:url(16x16/Hungup.png) !important;
}
.my-info-icon {
	background-image:url(16x16/Info.png) !important;
}
.my-in-icon {
	background-image:url(16x16/In-yang.png) !important;
}
.my-iphone-icon {
	background-image:url(16x16/Iphone.png) !important;
}
.my-key-icon {
	background-image:url(16x16/Key.png) !important;
}
.my-last-icon {
	background-image:url(16x16/Last.png) !important;
}
.my-lastrecor-icon {
	background-image:url(16x16/Last recor.png) !important;
}
.my-left-icon {
	background-image:url(16x16/Left-right.png) !important;
}
.my-lightning-icon {
	background-image:url(16x16/Lightning.png) !important;
}
.my-liner-icon {
	background-image:url(16x16/Liner.png) !important;
}
.my-linux-icon {
	background-image:url(16x16/Linux.png) !important;
}
.my-list-icon {
	background-image:url(16x16/List.png) !important;
}
.my-load-icon {
	background-image:url(16x16/Load.png) !important;
}
.my-lock-icon {
	background-image:url(16x16/Lock.png) !important;
}
.my-lowrating-icon {
	background-image:url(16x16/Low rating.png) !important;
}
.my-magicwand-icon {
	background-image:url(16x16/Magic wand.png) !important;
}
.my-mail-icon {
	background-image:url(16x16/Mail.png) !important;
}
.my-male-icon {
	background-image:url(16x16/Male.png) !important;
}
.my-malesymbol-icon {
	background-image:url(16x16/Male symbol.png) !important;
}
.my-mediumrating-icon {
	background-image:url(16x16/Medium rating.png) !important;
}
.my-message-icon {
	background-image:url(16x16/Message.png) !important;
}
.my-mobile-icon {
	background-image:url(16x16/Mobile-phone.png) !important;
}
.my-modify-icon {
	background-image:url(16x16/Modify.png) !important;
}
.my-move-icon {
	background-image:url(16x16/Move.png) !important;
}
.my-movie-icon {
	background-image:url(16x16/Movie.png) !important;
}
.my-music-icon {
	background-image:url(16x16/Music.png) !important;
}
.my-mute-icon {
	background-image:url(16x16/Mute.png) !important;
}
.my-networkconnection-icon {
	background-image:url(16x16/Network connection.png) !important;
}
.my-new-icon {
	background-image:url(16x16/New.png) !important;
}
.my-newdocument-icon {
	background-image:url(16x16/New document.png) !important;
}
.my-next-icon {
	background-image:url(16x16/Next.png) !important;
}
.my-nexttrack-icon {
	background-image:url(16x16/Next track.png) !important;
}
.my-no-icon {
	background-image:url(16x16/No.png) !important;
}
.my-no-icon {
	background-image:url(16x16/No-entry.png) !important;
}
.my-notes-icon {
	background-image:url(16x16/Notes.png) !important;
}
.my-ok-icon {
	background-image:url(16x16/OK.png) !important;
}
.my-paste-icon {
	background-image:url(16x16/Paste.png) !important;
}
.my-pause-icon {
	background-image:url(16x16/Pause.png) !important;
}
.my-people-icon {
	background-image:url(16x16/People.png) !important;
}
.my-percent-icon {
	background-image:url(16x16/Percent.png) !important;
}
.my-person-icon {
	background-image:url(16x16/Person.png) !important;
}
.my-phone-icon {
	background-image:url(16x16/Phone.png) !important;
}
.my-phonenumber-icon {
	background-image:url(16x16/Phone number.png) !important;
}
.my-piechart-icon {
	background-image:url(16x16/Pie chart.png) !important;
}
.my-pinion-icon {
	background-image:url(16x16/Pinion.png) !important;
}
.my-play-icon {
	background-image:url(16x16/Play.png) !important;
}
.my-playback-icon {
	background-image:url(16x16/Playback.png) !important;
}
.my-play-icon {
	background-image:url(16x16/Play-music.png) !important;
}
.my-previous-icon {
	background-image:url(16x16/Previous.png) !important;
}
.my-previousrecord-icon {
	background-image:url(16x16/Previous record.png) !important;
}
.my-print-icon {
	background-image:url(16x16/Print.png) !important;
}
.my-problem-icon {
	background-image:url(16x16/Problem.png) !important;
}
.my-question-icon {
	background-image:url(16x16/Question.png) !important;
}
.my-radiation-icon {
	background-image:url(16x16/Radiation.png) !important;
}
.my-raise-icon {
	background-image:url(16x16/Raise.png) !important;
}
.my-record-icon {
	background-image:url(16x16/Record.png) !important;
}
.my-redbookmark-icon {
	background-image:url(16x16/Red bookmark.png) !important;
}
.my-redmark-icon {
	background-image:url(16x16/Red mark.png) !important;
}
.my-redo-icon {
	background-image:url(16x16/Redo.png) !important;
}
.my-redpin-icon {
	background-image:url(16x16/Red pin.png) !important;
}
.my-redstar-icon {
	background-image:url(16x16/Red star.png) !important;
}
.my-redtag-icon {
	background-image:url(16x16/Red tag.png) !important;
}
.my-refresh-icon {
	background-image:url(16x16/Refresh.png) !important;
}
.my-remove-icon {
	background-image:url(16x16/Remove.png) !important;
}
.my-repair-icon {
	background-image:url(16x16/Repair.png) !important;
}
.my-report-icon {
	background-image:url(16x16/Report.png) !important;
}
.my-retort-icon {
	background-image:url(16x16/Retort.png) !important;
}
.my-rewind-icon {
	background-image:url(16x16/Rewind.png) !important;
}
.my-sad-icon {
	background-image:url(16x16/Sad.png) !important;
}
.my-save-icon {
	background-image:url(16x16/Save.png) !important;
}
.my-schedule-icon {
	background-image:url(16x16/Schedule.png) !important;
}
.my-script-icon {
	background-image:url(16x16/Script.png) !important;
}
.my-search-icon {
	background-image:url(16x16/Search.png) !important;
}
.my-shield16x16-icon {
	background-image:url(16x16/Shield 16x16.png) !important;
}
.my-shoppingcart-icon {
	background-image:url(16x16/Shopping cart.png) !important;
}
.my-silence-icon {
	background-image:url(16x16/Silence.png) !important;
}
.my-smile-icon {
	background-image:url(16x16/Smile.png) !important;
}
.my-sound-icon {
	background-image:url(16x16/Sound.png) !important;
}
.my-stop-icon {
	background-image:url(16x16/Stop.png) !important;
}
.my-stopsign-icon {
	background-image:url(16x16/Stop sign.png) !important;
}
.my-stopwatch-icon {
	background-image:url(16x16/Stopwatch.png) !important;
}
.my-sum-icon {
	background-image:url(16x16/Sum.png) !important;
}
.my-sync-icon {
	background-image:url(16x16/Sync.png) !important;
}
.my-table-icon {
	background-image:url(16x16/Table.png) !important;
}
.my-target-icon {
	background-image:url(16x16/Target.png) !important;
}
.my-taxi-icon {
	background-image:url(16x16/Taxi.png) !important;
}
.my-terminate-icon {
	background-image:url(16x16/Terminate.png) !important;
}
.my-text-icon {
	background-image:url(16x16/Text.png) !important;
}
.my-textpreview-icon {
	background-image:url(16x16/Text preview.png) !important;
}
.my-thumbsdown-icon {
	background-image:url(16x16/Thumbs down.png) !important;
}
.my-thumbsup-icon {
	background-image:url(16x16/Thumbs up.png) !important;
}
.my-toolbox-icon {
	background-image:url(16x16/Toolbox.png) !important;
}
.my-top-icon {
	background-image:url(16x16/Top.png) !important;
}
.my-trackback-icon {
	background-image:url(16x16/Trackback.png) !important;
}
.my-trash-icon {
	background-image:url(16x16/Trash.png) !important;
}
.my-tune-icon {
	background-image:url(16x16/Tune.png) !important;
}
.my-turnoff-icon {
	background-image:url(16x16/Turn off.png) !important;
}
.my-twitter-icon {
	background-image:url(16x16/Twitter.png) !important;
}
.my-undo-icon {
	background-image:url(16x16/Undo.png) !important;
}
.my-unlock-icon {
	background-image:url(16x16/Unlock.png) !important;
}
.my-up-icon {
	background-image:url(16x16/Up.png) !important;
}
.my-update-icon {
	background-image:url(16x16/Update.png) !important;
}
.my-up-icon {
	background-image:url(16x16/Up-down.png) !important;
}
.my-upload-icon {
	background-image:url(16x16/Upload.png) !important;
}
.my-usergroup-icon {
	background-image:url(16x16/User group.png) !important;
}
.my-view-icon {
	background-image:url(16x16/View.png) !important;
}
.my-volume-icon {
	background-image:url(16x16/Volume.png) !important;
}
.my-wallet-icon {
	background-image:url(16x16/Wallet.png) !important;
}
.my-warning-icon {
	background-image:url(16x16/Warning.png) !important;
}
.my-wrench-icon {
	background-image:url(16x16/Wrench.png) !important;
}
.my-yellowbookmark-icon {
	background-image:url(16x16/Yellow bookmark.png) !important;
}
.my-yellowpin-icon {
	background-image:url(16x16/Yellow pin.png) !important;
}
.my-yellowtag-icon {
	background-image:url(16x16/Yellow tag.png) !important;
}
.my-yes-icon {
	background-image:url(16x16/Yes.png) !important;
}
.my-zoom-icon {
	background-image:url(16x16/Zoom.png) !important;
}